<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Editar Curso</h1>

      <%= render 'form', course: @course %>

      <%= link_to 'Show', @course %> |
      <%= link_to 'Back', courses_path %>
    </div>
  </div>
</div>
